<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body>
  <h2>Registreren</h2>
 
  <form action="/register" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required />
 
    <label>Password:</label>
    <input type="password" name="password" required />
 
    <button type="submit">Register</button>
  </form>
 
  <p>Al een account? <a href="/login">Inloggen</a></p>
</body>
</html>